*{
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px; */
    margin:15px ;
    padding: 5px;

}
body{
    background-color: rgb(182, 182, 178);
}
header.header{
    background-color: #363535;
    text-align: center;
    border-radius: 10px;
    color: white;

}
.button{
    text-decoration: none;
    color: white;
}
.button:hover{
    color: gold;
}
#me{
    border-radius: 10px;
    border: 1px solid  wheat;
    background-color: white;
}
.ball{
    position: relative;
    left: 40%;
}
#Skills{
    background-image: url('./img/bac.png');
    background-size: cover;
    color: #363535;
    height: 150px;
}
#Skills>div{
    background-color: white;
    border-radius: 5px;
    height: 50px;
}
#Skills>div>div{
    color: white;
    background-color: green;
    display: inline;
    border-radius: 5px;
    position: relative;
    top: 20px;
    left: 5px;
    bottom: 20px;
    right: 5px;
}
#Skills>div>div:hover{
    cursor: pointer;
    position: relative;
    top: 1px;
}